{% extends 'login/base.html' %}
{% load staticfiles %}

{% block title %}
Đăng nhập
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'student/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'student/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'student/css/util.css' %}">
<link rel="stylesheet" href="{% static 'student/css/material-design-iconic-font.min.css' %}">
<link rel="stylesheet" href="{% static 'student/css/login.css' %}">
<link rel="stylesheet" href="{% static 'student/css/errors.css' %}">
{% endblock css %}

{% block content %}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="login100-form validate-form" method="post">
                {% csrf_token %}
                <span class="login100-form-title p-b-26">
                    Welcome
                </span>
                <span class="login100-form-title p-b-48">
                    <i class="zmdi zmdi-font"></i>
                </span>

                {% if errors %}
                <div class="show_errors">
                    <p class="errors">{{errors}}</p>
                </div>
                {% endif %}


                <div class="wrap-input100 validate-input">
                    <label class="label100" for="">Tên đăng nhập</label>
                    {{form.username}}
                    <span class="focus-input100"></span>
                </div>

                <div id="box-password">
                    <label class="label100" for="">Mật khẩu</label>
                    <div class="wrap-input100 validate-input">
                        <span class="btn-show-pass">
                            <i class="zmdi zmdi-eye-off"></i>
                        </span>
                        {{form.password}}
                        <span class="focus-input100"></span>
                    </div>
                </div>

                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                        <button class="login100-form-btn">
                            Đăng nhập
                        </button>
                    </div>
                </div>

                <div class="text-center p-t-115">
                    <span class="txt1">
                        Bạn chưa có tài khoản?
                    </span>

                    <a class="txt2" href="{% url 'student:register' %}">
                        Đăng ký
                    </a>
                    <p class="forgot-pass">
                        <a class="" href="{% url 'student:forgot_password' %}">Quên mật khẩu?</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}