<!DOCTYPE html>
<html lang="en">

    <head>
        {% load staticfiles %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>
            {% block title %}

            {% endblock title %}
        </title>

        {% block mathjax %}

        {% endblock mathjax %}

        <link rel="stylesheet" href="{% static 'student/vendors/iconfonts/mdi/css/materialdesignicons.min.css' %}" />
        <link rel="stylesheet" href="{% static 'student/vendors/css/vendor.bundle.base.css' %}" />
        <link rel="stylesheet" href="{% static 'student/css/fontawesome.min.css' %}" />
        <link rel="stylesheet" href="{% static 'student/css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'student/css/main.css' %}" />
        <link rel="shortcut icon" href="{% static 'student/images/favicon.png' %}" />

        {% block css %}

        {% endblock css %}

    </head>
    <!-- oncontextmenu="return false" onselectstart="return false" ondragstart="return false" -->

    <body>
        <div class="container-scroller">
            {% include 'student/navbar.html' %}
            <div class="container-fluid page-body-wrapper">
                {% include 'student/sidebar.html' %}
                <div class="main-panel">
                    <div class="content-wrapper">
                        <div class="row">
                            <div class="col-12">

                                {% block content %}

                                {% endblock content %}

                            </div>
                        </div>
                    </div>
                    <footer class="footer">
                        {% include 'student/footer.html' %}
                    </footer>
                </div>
            </div>
        </div>

        <script src="{% static 'student/js/jquery-3.3.1.js' %}"></script>
        <script src="{% static 'student/js/off-canvas.js' %}"></script>
        <script src="{% static 'student/vendors/js/vendor.bundle.base.js' %}"></script>
        <script src="{% static 'student/js/main.js' %}"></script>
        <!-- <script src="{% static 'student/js/disable.js' %}"></script> -->

        {% block script %}

        {% endblock script %}
    </body>

</html>