{% extends 'student/base.html' %}
{% load staticfiles %}


{% block title %}
Tài khoản - Đổi mật khẩu
{% endblock title %}


{% block css %}
<link rel="stylesheet" href="{% static 'student/css/errors.css' %}">
{% endblock css %}


{% block content %}
<div class="card">
    <div class="card-body">
        <div class="page">
            <div class="page-header">
                <h5 class="title">Tài khoản <span class="sub-title">Đổi mật khẩu</span>
                </h5>
            </div>
            <div class="content-page">
                <div class="change-password">
                    <form class="change-pass-form" method="POST">
                        {% csrf_token %}

                        {% if errors %}
                        <div class="show_errors student-page ">
                            <p class="errors">{{errors}}</p>
                        </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Mật khẩu cũ</label>
                                    <input type="password" class="form-control" id="" name='oldpass'
                                        placeholder="Mật khẩu cũ" required>
                                </div>
                                <div class="form-group">
                                    <label for="">Mật khẩu mới</label>
                                    <input type="password" class="form-control" id="" name='newpass'
                                        placeholder="Mật khẩu mới" required>
                                </div>
                                <div class="form-group">
                                    <label for="">Xác nhận mật khẩu mới</label>
                                    <input type="password" class="form-control" id="" name='confirmnewpass'
                                        placeholder="Xác nhận mật khẩu mới" required>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-custom mr-2">Cập nhật</button>
                                    <a href="{% url 'student:index' %}" class="btn btn-outline-secondary">Trở về trang
                                        chủ</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block script %}
<script src="{% static 'student/js/main.js' %}"></script>
{% endblock script %}