{% extends 'student/base.html' %}


{% block title %}
Tham gia thi
{% endblock title %}


{% block content %}
{% if messages %}
{% for message in messages %}
<div class="show_errors student-page ">
    <p class="errors">{{message}}</p>
</div>
{% endfor %}
{% endif %}
<div class="card">
    <div class="card-body">
        <div class="page">
            <div class="page-header">
                <h5 class="title">Tham gia thi <span class="sub-title">Chọn môn thi</span></h5>
            </div>
            <div class="content-page">
                <div class="exam-desktop">
                    {% if batch_status %}

                    {% if len_get_exam %}
                    <div class="table-responsive">

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Môn</th>
                                    <th>Thời gian thi</th>
                                    <th>Trạng thái</th>
                                    <th>Chức năng</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for item in gets_exams %}
                                <tr id="row_{{item.id}}" class="page_link" href="{% url 'student:start' item.id %}">
                                    <td>{{item.stt}}</td>
                                    <td>{{item.subject}}</td>
                                    <td>{{item.total_time_to_do_exam}} phút</td>

                                    <td>
                                        <span class="status open-subject badge">Đang mở</span>
                                    </td>
                                    <td>
                                        <a href="{% url 'student:start' item.id %}" class="start-link">Bắt đầu
                                            thi</a>
                                    </td>

                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <ul class="pagination">
                        {% if gets_exams.has_previous %}
                        <li class="pagination-item"><a class="pagination-item__link pagination-item__action"
                                href="?page=1"><i class="fas fa-angle-double-left"></i></a></li>
                        <li class="pagination-item"><a class="pagination-item__link pagination-item__action"
                                href="?page={{ gets_exams.previous_page_number }}"><i class="fas fa-angle-left"></i></a>
                        </li>
                        {% endif %}


                        {% for num in gets_exams.paginator.page_range %}

                        {% if gets_exams.number == num %}
                        <li class="pagination-item"><a class="pagination-item__link pagination-item__current"
                                href="">{{num}}</a></li>
                        {% elif num > gets_exams.number|add:'-3' and num < gets_exams.number|add:'3' %}
                        <li class="pagination-item"><a class="pagination-item__link" href="?page={{num}}">{{num}}</a>
                        </li>

                        {% endif %}

                        {% endfor %}
                        <!-- Page {{ gets_exams.number }} of {{ gets_exams.paginator.num_pages }}. -->

                        {% if gets_exams.has_next %}
                        <li class="pagination-item"><a class="pagination-item__link pagination-item__action"
                                href="?page={{ gets_exams.next_page_number }}"><i class="fas fa-angle-right"></i></a>
                        </li>
                        <li class="pagination-item"><a class="pagination-item__link pagination-item__action"
                                href="?page={{ gets_exams.paginator.num_pages }}"><i
                                    class="fas fa-angle-double-right"></i></a>
                        </li>

                        {% endif %}
                    </ul>
                    {% else %}
                    <span class="no-data">Hiện tại không có môn nào thuộc đợt này. Xin lỗi vì điều này !!!</span>
                    {% endif %}


                    {% else %}
                    <span class="no-data">Hiện tại chưa đến giờ mở đợt thi. Vui lòng đợi đến lúc mở đợt thi
                        !!!</span>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}