{% extends 'student/base.html' %}
{% load staticfiles %}

{% block title %}
Tham gia thi - Làm bài thi
{% endblock title %}

{% load mathjax %}

{% block mathjax %}
{% mathjax_scripts %}
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        styles: {
            ".MJXc-display": {
                "display": "inline-block !important",
                "margin": "0 !important",
            },
            ".mjx-chtml":{
                "white-space": "normal !important",
            }
        }
    });
    MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
    MathJax.Hub.Register.StartupHook("TeX Jax Ready", function () {
    MathJax.InputJax.TeX.Definitions.Add({
        macros: {
            expexpansion: ["Macro", "\\sum_{n=0}^{+\\infty} \\frac{x^n}{n!}"],
            taylor: ["Macro","\\sum_{n=0}^{+\\infty} \\frac{{#1}^{(n)} \\left({#2}\\right)}{n!} {\\left( {#3} - {#2} \\right)}^n", 3],
            taylorlog: ["Macro","\\sum_{n=1}^{+\\infty} {(-1)}^{n+1} \\frac{#1^n}{n}", 1],
            taylorsin: ["Macro","\\sum_{n=0}^{+\\infty} \\frac{{(-1)}^n}{(2n+1)!} {#1}^{2n+1}", 1]
        }
    });
    
});

MathJax.Ajax.loadComplete("[MathJax]/extensions/TeX/Taylor.js");
</script>
{% endblock mathjax %}

{% block content %}

<!-- <div class="">
    <p>When $a \ne 0$, there are two solutions to \(ax^2 + bx + c = 0\) and they are</p>

    <p>$$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$</p>

    <p>$$y = {ax^3 + bx^2 + cx + d \ (a,b,c,d \in \mathbb{R})} $$</p>

    <p>$${1\over5}$$</p>

    <p>$${+\infty}$$</p>

    <p>$$( {-1}\ {;}\ {+\infty} )$$</p>

    <p>$${lim} {1\over 5n +2}$$</p>

    <p>$${y = 2^x, y = 0, x = 2}$$</p>

    <p>$$\{ {-\sqrt{10}}\ {;}\ {\sqrt{10}} \}$$</p>

    <p>$$S=\pi\int\limits_{0}^{2}{2^{2x}dx.}$$</p>

    <p>$$y=\ln \left| \cos x \right|$$</p>

    <p>\[ {\log_2} (x^2-1) = 3 \]</p>

    <p>\[ \log(1+h) = \taylorlog{h} \text{ for } |h| \lt 1 \]</p>

    <p>$$y'=\frac{1}{\sqrt{x^2+1}+1}$$</p>

    <p>$$(Oxyz)$$</p>

    <p>$$ A({1}\ {;}\ {2}\ {;}\ {-2})$$</p>

    <p>$${ \Delta: {{x+1} \over 2}\ {=}\ {{y-1} \over 1}\ {=}\ {{z-3} \over 3} }$$</p>
</div>

<p>$$y=f(x)=\left\{ \begin{array}{l} \frac{\sqrt{x+3}-\sqrt{5-x}}{{x^2}-1}\,\,\,\,\,khi\,\,\,x\ne 1\,\,\, \\ \sin
ax\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,\,khi\,\,\,x=1 \end{array} \right.$$</p> 

<p>$$d:\left\{ \begin{array}{l} x = 1 + 3t \\ y = -3 \\ z = 5 + 4t \end{array} \right.$$</p>

<p>$$\vec{u}$$</p>

<p>$$\left\{ \begin{array}{l} x = -1 + 2t \\ y = 2 - 5t \\ z = 6 + 11t \end{array} \right.$$</p>

<p>$$A^{2}_{38}$$</p>

<p>$$45^{\circ}$$</p> -->

<div class="card">
    <div class="card-body">
        <div class="page">
            <div class="page-header">
                <h5 class="title">Tham gia thi <span class="sub-title">Làm bài thi</span></h5>
            </div>
            <div class="content-page">
                <div class="QA">
                    {% if length_array_question %}
                    <form action="{% url 'student:calculator' %}" id="list_question_answer" method="POST">
                        {% csrf_token %}
                        {% if get_exam.subject_id == 2 %}
                        <div class="suggest mb-3">
                            Cho biết nguyên tử khối của các nguyên tố: H = 1; Li = 7; C = 12; N = 14; O = 16; Na = 23;
                            Mg = 24; Al = 27; P = 31; S =
                            32; Cl = 35,5; K = 39; Ca = 40; Cr = 52; Fe = 56; Cu = 64; Zn = 65; Br = 80; Rb = 85,5; Ag =
                            108; Ba = 137.
                        </div>
                        {% endif %}
                        {% for item_question in array_choose_question %}
                        <div class="QA-item">
                            <div class="header_QA">
                                <div class="question">
                                    <h5 class="question_number" data-question_id="{{item_question.id}}">
                                        {% if get_exam.subject_id == 4 %}
                                        Question
                                        {% else %}
                                        Câu
                                        {% endif %}
                                        {{item_question.stt}}:
                                        <span class="name name_question">{{item_question.question_main|safe}}</span>

                                        {% if item_question.question_img %}
                                        <span class="text-center d-block"><img class="img-question img-fluid"
                                                src="{{item_question.question_img.url}}" alt=""></span>
                                        {% endif %}

                                        {% if item_question.question_sub %}
                                        <span
                                            class="name name_question d-block">{{item_question.question_sub|safe}}</span>
                                        {% endif %}
                                    </h5>
                                </div>
                            </div>
                            <div class="content_QA">
                                <div class="answer">
                                    <div class="row">
                                        <div class="col-10">
                                            <!-- choose_random_answer -->
                                            {% for answer in list_answer %}

                                            {% if item_question.id == answer.question_id %}

                                            <div class="form-group">
                                                <div class="answer-item">
                                                    <p class="text_answer" data-answer_id="{{answer.id}}">
                                                        <input type="radio" name="{{item_question.id}}"
                                                            value="{{answer.id}}">
                                                        <span class="choose_Answer"></span>
                                                        <input type="radio" name="{{item_question.id}}"
                                                            style="z-index:-1;" value="0" checked>
                                                        {{answer.answer_name|safe|capfirst}}</p>
                                                </div>
                                            </div>
                                            {% endif %}

                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="submit_QA">
                            <button type="button" class="btn btn-custom" data-toggle="modal"
                                data-target="#confirm-popup">Nộp bài</button>
                            <button type="submit" class="btn btn-custom d-none" id="submit-form">Nộp bài</button>
                        </div>
                    </form>
                    {% else %}

                    <span class="no-data">Hiện tại không có câu hỏi nào thuộc môn này !!!</span>

                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
<input class="d-none" id="total_time_to_do_exam" value="{{get_exam.total_time_to_do_exam}}" />
<input class="d-none" id="id_exam" value="{{get_exam.id}}" />
<input class="d-none" id="total_question" value="{{length_array_question}}">

<div class="modal fade" id="confirm-popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="title">Thông báo</h5>
                <p>Bạn có chắc chắn muốn nộp bài không ?</p>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Không</button>
                <button type="button" class="btn btn-custom" onclick="confirm()">Có</button>
            </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary d-none" id="show-popup" data-toggle="modal" data-target="#modal-result"
    data-backdrop="static" data-keyboard="false"></button>
<div class="modal fade" id="modal-result" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="title">Chúc mừng bạn đã hoàn thành bài thi</h5>
                <p>Bạn có muốn xem kết quả thi không ?</p>
                <button id="home_link" class="btn btn-secondary">Trở về trang chủ</button>
                <button id="result_link" class="btn btn-custom">Có</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
<script src="{% static 'student/js/sweetalert2.js' %}"></script>
<script src="{% static 'student/js/exam.js' %}"></script>
<script>

    function confirm() {
        $('#submit-form').click();
        $('#confirm-popup').hide();
    };

    // function getCookie(name) {
    //     var cookieValue = null;
    //     if (document.cookie && document.cookie !== "") {
    //         var cookies = document.cookie.split(";");
    //         for (var i = 0; i < cookies.length; i++) {
    //             var cookie = cookies[i].trim();
    //             // Does this cookie string begin with the name we want?
    //             if (cookie.substring(0, name.length + 1) === name + "=") {
    //                 cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
    //                 break;
    //             }
    //         }
    //     }
    //     return cookieValue;
    // }
    // var csrftoken = getCookie("csrftoken");

    // function csrfSafeMethod(method) {
    //     // these HTTP methods do not require CSRF protection
    //     return /^(GET|HEAD|OPTIONS|TRACE)$/.test(method);
    // }

    // $.ajaxSetup({
    //     beforeSend: function (xhr, settings) {
    //         if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
    //             xhr.setRequestHeader("X-CSRFToken", csrftoken);
    //         }
    //     }
    // });

    // var list_answer_question = [];
    // $(".text_answer").click(function () {
    //     var value_id_answer = $(this).data("answer_id");

    //     var value_id_question = $(this)
    //         .parents(".QA-item")
    //         .find(".question_number")
    //         .data("question_id");

    //     var filter = list_answer_question.find(
    //         x => x.id_question == value_id_question
    //     );

    //     if (filter != undefined) {
    //         list_answer_question.splice(list_answer_question.indexOf(filter), 1);
    //     }
    //     list_answer_question.push({
    //         id_question: value_id_question,
    //         id_answer: value_id_answer
    //     });

    //     console.log(list_answer_question);

    //     data = JSON.stringify({
    //         "list_answer_question": list_answer_question,
    //         "exam": $("#id_exam").val(),
    //         "time_remaining": parseInt($("#total_time_to_do_exam").val()),
    //     })

    //     $.ajax({
    //         type: 'POST',
    //         url: '/handle_test/',
    //         dataType: "json",
    //         contentType: "application/json",
    //         data: data,
    //         success: function (response) {
    //             console.log(response);
    //         },
    //     });
    // });

</script>
{% endblock script %}