<div class="clearfix">
  <!-- text-muted -->
  <div id="copyRight">
    <p class="text">Sinh viên thực hiện: <b>Trần Quang Ninh</b></p>
    <p class="text">Lớp: <b>ĐH5C2</b></p>
    <p class="text">Khoa: <b>Công nghệ thông tin</b></p>
    <p class="text">Giảng viên hướng dẫn: <b>Ths.Nguyễn Thuỳ Dung</b></p>
  </div>
  <span class=" d-block text-center text-sm-left d-sm-inline-block">Phần mêm thi trắc nghiệm trực tuyến</span>
  <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Trần Quang Ninh</span>

</div>