{% extends 'student/base.html' %}


{% block title %}
Thông báo - Chi tiết
{% endblock title %}


{% block content %}
<div class="card">
    <div class="card-body">
        <div class="page">
            <div class="page-header">
                <h5 class="title">Thông báo <span class="sub-title">Chi tiết thông báo</span></h5>
            </div>
            <div class="content-page">
                <div class="notification-detail">
                    <div class="notification-detail__header">
                        <h5 class="title">{{get_batch.batch_name}}</h5>
                    </div>
                    <div class="notification-detail__content">
                        <p class="text">Từ: {{get_batch.time_from|date:"d-m-Y h:i"}} - Đến:
                            {{get_batch.time_to|date:"d-m-Y h:i"}}</p>
                        <p class="text">{{get_batch.content}}</p>
                    </div>
                    <div class="back">
                        <a href="{% url 'student:notification' %}" class="btn btn-custom">Quay lại</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}