{% extends 'student/base.html' %}
{% load staticfiles %}


{% block title %}
Tài khoản - Thông tin cá nhân
{% endblock title %}


{% block content %}
<div class="card">
    <div class="card-body">
        <div class="page">
            <div class="page-header">
                <h5 class="title">Tài khoản <span class="sub-title">Thông tin cá
                        nhân</span></h5>
            </div>
            <div class="content-page">
                <div class="profile">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="{% url 'student:avatar' %}" class="profile-avatar">
                                <div class="view_img">
                                    <i class="far fa-image"></i>
                                    <img src="{{user_info.avatar.url}}" class="img-fluid" alt="">
                                    <span class="text_place">Cập nhật ảnh đại diện</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <p class="text">Họ tên: {{user.first_name}} {{user.last_name}}</p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <p class="text">Ngày sinh: {{user_info.birth_day|date:"d-m-Y"}}</p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <p class="text">Địa chỉ: {{user_info.address}}</p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <p class="text">Email: {{user.email}}</p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <p class="text">Số điện thoại: {{user_info.phone_number}}</p>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <a class="btn btn-custom" href="{% url 'student:profile_update' %}">Cập nhật thông
                                        tin</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}