{% load staticfiles %}
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">

        {% if request.user.id %}

        {% for item_user in get_user %}

        {% if request.user.id == item_user.id %}

        {% for item_user_info in get_user_info %}

        {% if item_user_info.user_id == item_user.id %}
        <li class="nav-item nav-profile">
            <div class="nav-link">
                <div class="user-wrapper">
                    <div class="profile-image">
                        <img src="{{item_user_info.avatar.url}}" alt="Avatar" />
                    </div>
                    <div class="text-wrapper">
                        <p class="profile-name" title="{{item_user.first_name}} {{item_user.last_name}}">
                            {{item_user.first_name}} {{item_user.last_name}}</p>
                        <div>
                            <!-- <small class="designation text-muted">Trạng thái</small> -->
                            <!-- <span class="status-indicator online"></span> -->
                            <small><span class="designation text-muted">Chức vụ: </span>{{item_user_info.role}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {% endif %}

        {% endfor %}

        {% endif %}

        {% endfor %}

        {% endif %}

        {% for item in menu %}
        <li class="nav-item {% if item.menu_link == active_class %}active{% endif %}">
            <a class="nav-link" href="/{{item.menu_link}}">
                <i class="{{item.menu_icon}}"></i>
                <span class="menu-title">{{item.menu_name}}</span>
            </a>
        </li>
        {% endfor %}

        {% if request.user.id %}

        {% for item_user in get_user %}

        {% if request.user.id == item_user.id %}

        {% for item_user_info in get_user_info %}

        {% if item_user_info.user_id == item_user.id %}
        <li class="nav-item d-lg-none d-inline-block">
            <a class="nav-link" href="{% url 'student:change_pass' %}">
                <i class="menu-icon mdi mdi-key-variant"></i>
                <span class="menu-title">Đổi mật khẩu</span>
            </a>
        </li>
        <li class="nav-item d-lg-none d-inline-block">
            <a class="nav-link" href="{% url 'student:logout' %}">
                <i class="menu-icon mdi mdi-logout"></i>
                <span class="menu-title">Đăng xuất</span>
            </a>
        </li>
        {% else %}

        {% endif %}

        {% endfor %}

        {% endif %}

        {% endfor %}

        {% else %}
        <li class="nav-item d-lg-none d-inline-block">
            <a class="nav-link" href="{% url 'student:login' %}">
                <i class="menu-icon mdi mdi-logout"></i>
                <span class="menu-title">Đăng nhập</span>
            </a>
        </li>
        <li class="nav-item d-lg-none d-inline-block">
            <a class="nav-link" href="{% url 'student:register' %}">
                <i class="menu-icon mdi mdi-account-plus"></i>
                <span class="menu-title">Đăng ký</span>
            </a>
        </li>
        {% endif %}


    </ul>
</nav>