{% extends 'student/base.html' %}
{% load staticfiles %}

{% block title %}
Tài khoản - Cập nhật ảnh đại diện
{% endblock title %}

{% block content %}
<div class="card">
    <div class="card-body">
        <div class="page">
            <div class="page-header">
                <h5 class="title">Tài khoản <span class="sub-title">Cập nhật ảnh đại diện</span>
                </h5>
            </div>
            <div class="content-page">
                <div class="change-password">
                    <form class="change-pass-form" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="">Ảnh đại diện</label>
                                    <div class="upload">
                                        <input type="file" id="up_img" name="avatar" required>
                                        <div class="view_img">
                                            <i class="far fa-image"></i>
                                            <img src="" class="img-fluid" alt="" id="avatar_img">
                                            <span class="text_place">Tải ảnh</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-custom mr-2">Cập nhật</button>
                                    <a href="{% url 'student:profile' %}" class="btn btn-outline-secondary">Quay
                                        lại</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block script %}
<script>
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#avatar_img').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#up_img").change(function () {
        readURL(this);
    });
</script>
{% endblock script %}